@media (max-width:576px){
	.product .col-lg-7 {
		padding-left: 15px !important;
	}
	.product-list {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		height: 100%;
		width: 100%;
	}
}